.whole-introduction{
color:rgb(66, 68, 68);
font-family: 'Prompt', sans-serif;
display:grid;
grid-template-columns:1fr 1fr;
column-gap:20px;
}

.paragraph-1-container{
margin-top:10px;
margin-left:0px;

}

.paragraph-1{
width:500px;
height:200px;
text-align: center;
font-size:20px;
margin-top:80px;
margin-left:90px;
}

.paragraph-2-container{
display:grid;
grid-template-columns: 1fr 1fr;
max-height:400px;
margin-top:10px;
}

.picture{
border-radius: 50px;
width:250px;
height:250px;
margin-left: 15px;
padding-top:30px;
padding-bottom:30px;
}

.paragraph-2{
width:400px;
height:100px;
padding-top:30px;
padding-right:50px;
font-size:15px;
text-align:justify;
}